[Unit]
Description=Install Autodarts on first boot
After=network-online.target autodarts-firstboot.service
Wants=network-online.target
ConditionPathExists=!/var/lib/autodarts-pi-os/autodarts-install.done

[Service]
Type=oneshot
ExecStart=/usr/local/bin/autodarts-install
TimeoutStartSec=30min
UMask=0077
PrivateTmp=true
RestrictSUIDSGID=true
LockPersonality=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
