IMG_NAME=AutodartsPiOS
RELEASE=bookworm
DEPLOY_ZIP=1
LOCALE_DEFAULT=de_DE.UTF-8
KEYBOARD_KEYMAP=de
KEYBOARD_LAYOUT=German
TIMEZONE_DEFAULT=Europe/Berlin
FIRST_USER_NAME=autodarts
FIRST_USER_PASS=autodarts
ENABLE_SSH=1
